@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.woff2');
}
$color-primary: tomato;

.main-wrapper {
	.main-content {
	    background:#e5e5e5;
	}
	.btn-primary {
		background-color: $color-primary;
		border: none;
		&:not(.disabled):active {
			background-color: $color-primary;
			border-color: $color-primary;
		}
	}
}

ul {
	li {
    	border-bottom: 1px solid #c3c3c3;
    	a {
		    color: inherit;
		    display: block;
		    font-size: 1.1em;
		    font-weight: 500;
		    padding: 10px;
		    &:hover, &.active {
		    	background-color: $color-primary;
		    	color: #fff;
		    	font-weight: bold;
			    text-decoration: none;
			    transition: all 0.3s;
		    }
		    &.dropdown-toggle::after {
	    	    float: right;
				margin: 10px;
		    }
		}
	}
	ul {
		li {
			a {
				font-size: 0.9em;
			    font-weight: 400;
			    padding-left: 30px;
			}
		}
	}
}